<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OffGrid_iNote_Alpha_1._2.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OffGrid_iNote_Alpha_1._2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OffGrid_iNote_Alpha_1._2.Properties.Config>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ID_Key" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Editor_Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ED_WIDTH" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="ED_HEIGHT" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="Editor_F_Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Registered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PC_HOST" serializeAs="String">
                <value />
            </setting>
            <setting name="Find_Word" serializeAs="String">
                <value />
            </setting>
            <setting name="Connection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="File_Extension" serializeAs="String">
                <value />
            </setting>
            <setting name="File_Path" serializeAs="String">
                <value />
            </setting>
        </OffGrid_iNote_Alpha_1._2.Properties.Config>
        <OffGrid_iNote_Alpha_1._2.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ID_Key" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Editor_Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ED_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ED_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Editor_F_Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Registered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PC_HOST" serializeAs="String">
                <value />
            </setting>
        </OffGrid_iNote_Alpha_1._2.Properties.Settings>
    </userSettings>
</configuration>